<h1>{{ title }}  {{ getNumRoutes() }}</h1>
<div *ngIf="!selected">
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>Id</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let route of routes ">
        <td >{{ route.id }}</td>
        <td (click)="displayRoute(route)">{{ route.name }}</td>
        <!-- <td><input (change)='updateRoute(route,false)'type="checkbox" name ="completed" [(ngModel)]="todo.completed" class="from-check"></td>
        <td>{{ todo.completed }}</td> -->
        <td><button class='btn-danger' (click)="deleteRoute(route.id)">X</button></td>
      </tr>
    </tbody>
  </table>
     <!-- showall? <input type="checkbox" name ="showComplete" [(ngModel)]='showComplete'> -->
      <input type="number" name ="liftId" placeholder="Lift Id"  [(ngModel)]="liftId" class ="form-control">
      <input type="text" name ="name" placeholder="Route Name" [(ngModel)]="newRoute.name" class ="form-control">
      <input type="text" name ="distance" placeholder="distance miles" [(ngModel)]="newRoute.distance" class ="form-control">
      <input type="text" name ="level" placeholder="Green,Black etc" [(ngModel)]="newRoute.level" class ="form-control">
      <input type="text" name ="snowCondition" placeholder="Icy,Groomed etc" [(ngModel)]="newRoute.snowCondition" class ="form-control">
      <input type="submit" value ="Add Route" (click)="addRoute(newRoute,liftId)">
</div>

<div *ngIf="selected && !editRoute">
  <label for="id">ID :</label> <p>{{ selected.id }}</p>
  <label for="name">Name :</label> <p>{{ selected.name }}</p>
  <label for="distance">Distance :</label> <p>{{ selected.distance }} miles</p>
  <label for="level">Level :</label> <p>{{ selected.level }}</p>
  <label for="snowCondition">Snow Condition :</label> <p>{{ selected.snowCondition }}</p>
  <button (click)="displayTable()">Back</button>
  <button (click)="setRoute()">Edit</button>
</div>

<div *ngIf="editRoute">

  <input type="text" name="name" [(ngModel)]="editRoute.name" placeholder="name" class ="form-control">
  <input type="number" name="distance" [(ngModel)]="editRoute.distance" placeholder="distance miles" class ="form-control">
  <input type="text" name="level" [(ngModel)]="editRoute.level" placeholder="Green,Black etc" class ="form-control">
  <input type="text" name="snowCondition" [(ngModel)]="editRoute.snowCondition"  placeholder="Icy, Groomed etc" class ="form-control">
  <button (click)="updateRoute(editRoute)">Save</button>
  <button (click)="editRoute = null;">Cancel</button>

</div>
